<!DOCTYPE html>
<html>
<body style="text-align: center">
<h1 style="color: red">You are not Registred</h1>
<h3>
<%= firstName %> 
<form action="/gdata" method="GET">
<input type="submit" value="getdata">
</h3>
</body>
</html>